.special-project {
  margin-top: 7rem;
}

a:hover h3 {
  color: var(--ad-text) !important;
}

.project {
  padding: 0.5rem 0.5rem inherit;
}

.light-mode .card .projects video,
.light-mode .card .project video {
  box-shadow: 4px 4px 8px rgba(115, 72, 244, 0.6);
}

.card .projects video,
.card .project video {
  box-shadow: 4px 4px 8px  rgba(189, 95, 255, 0.6);
}