.special-project {
  margin-top: 7rem;
}

a:hover h3 {
  color: var(--ad-text) !important;
}

.project {
  padding: 0.5rem 0.5rem inherit;
}

.light-mode .card .projects .project-thumbnail,
.light-mode .card .project .project-thumbnail {
  box-shadow: 4px 4px 8px rgba(115, 72, 244, 0.6);
}

.card .projects .project-thumbnail,
.card .project .project-thumbnail {
  box-shadow: 4px 4px 8px rgba(189, 95, 255, 0.6);
}