#logo-img {
  width: 220px;
  box-shadow: none;
}

.card-body {
  padding: 0 1.25rem;
}

.head {
  transition: 0.5s;
}

.head:hover {
  color: var(--ad-text) !important;
  text-decoration: none;
}

.header-img-logo img {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.card-title {
  margin-bottom: 0;
}

.card-sub-title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  color: var(--ad-highlight) !important;
}

.card-text .link {
  transition: 0.5s;
  color: var(--ad-highlight) !important;
}

.nav-pills .nav-link {
  transition: background 0.5s, box-shadow 0.5s, color 0.5s;
  cursor: pointer;
  margin: 10px;
  border-radius: 25px !important;
  box-shadow: 6px 6px 12px var(--ad-box-shadow-dark),
    -6px -6px 12px var(--ad-box-shadow-light);
}

.nav-pills .nav-link:hover {
  box-shadow: 3px 3px 6px var(--ad-box-shadow-dark),
    -3px -3px 6px var(--ad-box-shadow-light);
}

.nav-pills .nav-link.active {
  color: var(--ad-highlight) !important;
  background: var(--ad-background) !important;
  box-shadow: inset 2px 2px 4px var(--ad-box-shadow-dark),
    inset -2px -2px 4px var(--ad-box-shadow-light);
}

/* start mobile navigation */
.mobile .fixed-top {
  z-index: 90 !important;
}

.mobile .navbar {
  transition: 0.5s;
  background: var(--ad-background);
  box-shadow: 6px 6px 12px var(--ad-box-shadow-light);
}

.mobile .navbar-brand {
  transition: 0.5s;
  color: var(--ad-text) !important;
}

.mobile .navbar-brand:hover {
  color: var(--ad-text) !important;
}

.mobile .logo {
  width: 50px;
}

.mobile .navbar-expand-lg .navbar-collapse {
  text-align: center;
  justify-content: flex-end;
}

.mobile .navbar-dark .navbar-toggler {
  border: none;
}

.mobile .animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.mobile .animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.mobile .animated-icon span {
  background: var(--ad-text);
}

.mobile .animated-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.mobile .animated-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.mobile .animated-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.mobile .animated-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.mobile .animated-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.mobile .animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.mobile .navbar-expand-lg .navbar-nav .nav-link-mb {
  cursor: pointer;
  padding: 10px 20px;
  transition: background 0.5s, box-shadow 0.5s;
  margin: 10px;
  border-radius: 25px;
  box-shadow: 6px 6px 12px var(--ad-box-shadow-dark),
    -6px -6px 12px var(--ad-box-shadow-light) !important;
}

.mobile .nav-link-mb {
  text-decoration: none;
}

.mobile .nav-link-mb:hover {
  color: var(--ad-text) !important;
}

.mobile .nav-link-mb:hover {
  transition: box-shadow 0.5s;
  box-shadow: 3px 3px 6px var(--ad-box-shadow-dark),
    -3px -3px 6px var(--ad-box-shadow-light) !important;
}

.mobile .navbar-expand-lg .navbar-nav .nav-link-mb.active {
  background: var(--ad-background);
  box-shadow: inset 2px 2px 4px var(--ad-box-shadow-dark),
    inset -2px -2px 4px var(--ad-box-shadow-light) !important;
  color: var(--ad-highlight) !important;
}

/* end mobile navigation */